In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
infile = r'files/movie_metadata.csv'

In [3]:
#1.1. Download the data set movie_metadata.csv, which contains data about films from IMDb
#(Internet Movie Database).

def csv_to_df(infile, headers = []):
    if len(headers) == 0:
        df = pd.read_csv(infile)
    else:
        df = pd.read_csv(infile, header = None)
        df.columns = headers

    for r in range(10):
        try:
            df.rename( columns={'Unnamed: {0}'.format(r):'Unnamed{0}'.format(r)}, inplace=True )
        except:
            pass
    return df

df = csv_to_df(infile).rename_axis('id')

In [4]:
#1.2. The duration column contains data on the film length. How many missing values are there
#in this column?
nan_duration = df['duration'].isna().sum()

nan_duration

15

In [5]:
#1.3. Replace the missing values in the duration column with the median value for this column.
### Replacing NaN values on duration column ###

#Get avg from duration
duration_avg = df['duration'].mean()

# Setting duration_avg on NaN duration rows
df.duration = df.duration.fillna(duration_avg)

In [6]:
# 1.4. What is the average film length? Give the answer as a floating-point figure rounded to
# two decimal places.
# Rounded duration avg
df['duration'] = df['duration'].round(2)

df['duration']

id
0       178.0
1       169.0
2       148.0
3       164.0
4       107.2
        ...
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64

In [7]:
### Creating a new column named: movie_duration_category ###
# 1.5. Create a movie_duration_category column, which will contain three categories
# depending on the film length:
result = []
for value in df['duration']:
    if value < 90:
        result.append(1)
    elif value >= 90 and value <= 120:
        result.append(2)
    else:
        result.append(3)

df['movie_duration_category'] = result
df['movie_duration_category']

id
0       3
1       3
2       3
3       3
4       2
       ..
5038    1
5039    1
5040    1
5041    2
5042    2
Name: movie_duration_category, Length: 5043, dtype: int64

In [8]:
### New table ###
# 1.6. Build a summary table for films released after 2000 (inclusively), to list the numbers of
# films
newdf = df[(df.title_year >= 2000)]
newdf['title_year'] = pd.to_datetime(newdf['title_year'], format='%Y').dt.strftime('%Y')

C:\Users\Burningpixel\AppData\Local\Temp\ipykernel_23964\2753686655.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf['title_year'] = pd.to_datetime(newdf['title_year'], format='%Y').dt.strftime('%Y')

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category
id,,,,,,,,,,,,,,,,,,,,,
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0$,2009,936.0,7.9,1.78,33000,3
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0$,2007,5000.0,7.1,2.35,0,3
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0$,2015,393.0,6.8,2.35,85000,3
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0$,2012,23000.0,8.5,2.35,164000,3
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,English,USA,PG-13,263700000.0$,2012,632.0,6.6,2.35,24000,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,English,USA,Not Rated,9000.0$,2011,205.0,6.4,NaN,413,2
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,0.0$,2013,470.0,7.7,NaN,84,1
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0$,2013,0.0,6.3,NaN,16,1
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,0.0$,2012,719.0,6.3,2.35,660,2
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0$,2004,23.0,6.6,1.85,456,2

In [9]:
# 1.7. How many films between 90 minutes and two hours long were released in 2008?
over_2008 = newdf[(newdf.title_year == '2008') & (newdf.movie_duration_category == 2)]
total_over_2008 = len(over_2008)
total_over_2008

160

In [10]:
# 1.8. The plot_keywords column holds keywords characterizing the film's plot. Using the data
# in this column, create a column called movie_plot_category, to contain four categories
# depending on the key words in the column:
df['plot_keywords'] = df['plot_keywords'].fillna('no_keywords')

key_words = ['love', 'death']

def common_member(a, b):
    key_words_set = set(a)
    plot_keywords_set = set(b)
 
    if (key_words_set & plot_keywords_set):
        commom = key_words_set & plot_keywords_set
        if len(commom) > 1:
            new_category = 'love_and_death'
        else :
            new_category = reduce(lambda a, b : a+', '+b , commom)
    else:
        new_category = 'other'
    
    return new_category

plot_cat = []
for value in df['plot_keywords']:
    plot_keywords = value.split('|')
    plot_cat.append(common_member(key_words, plot_keywords))

df['movie_plot_category'] = plot_cat

In [11]:
# 1.9. The imdb_score column shows a viewer rating for the film. Build a table to reflect the
# average rating of films depending on which movie_plot_category category they belong to.
imdb_score_avg = df.groupby(['movie_plot_category'])['imdb_score'].mean()

imdb_score_avg

movie_plot_category
death             6.508130
love              6.533862
love_and_death    6.677778
other             6.436298
Name: imdb_score, dtype: float64

In [12]:
# 1.10. What is the average rating of films in the "love" category? Give the answer as a floating point figure rounded to two decimal places.
love_imdb_score_avg = imdb_score_avg['love'].round(2)

love_imdb_score_avg

6.53

In [13]:
# 1.11. The budget column contains the film's budget. What is the median budget for all the films listed? Give the answer as an integer.
df['budget'] = df['budget'].str.replace('$', '')
df['budget'] = df['budget'].astype(float)
df['budget'] = df['budget'].astype(np.int64)

budget_avg = df['budget'].mean().round(0).astype(int)

budget_avg

35874316